<div class="container-fluid" id="treasure-details">
   <ul class="list-group">
    <li class="list-group-item" *ngFor="let treasure of treasures" (click)="func(treasure.id)">{{treasure.name}}</li>
  </ul>
   <div *ngIf="ans">
      <label for="id" id="Id">Id</label>   {{ans.id}}<br>
      <label for="name" id="Name">Name</label> 
      <input type="text" [(ngModel)]="ans.name" style="margin-left: 10px;"><br>
      <label for="location" id="Location">Location</label>          {{ans.location}}
  </div>
  
</div>




